@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");

:root,
html,
body {
  margin: 0;
  padding: 0;
}

.text {
  color: black;
  font-family: "Smokum", cursive;
}

.background {
  position: fixed;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  background-image: url("/static/img/desert.jpg");
  background-color: sandybrown;
  background-size: cover;
  z-index: -1;
}
