#add {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 40px;
  background: sandybrown;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  padding: 0;
  transition: transform 300ms ease;
}

#add:hover {
  transform: rotate(90deg);
}

.notes {
  position: fixed;
  top: 0;
  left: 0;
}

.note {
  position: absolute;
  height: 185px;
  width: 345px;
  background-image: url("/static/img/paper.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px;
  box-sizing: border-box;
}

.note.smooth {
  transition: transform 300ms linear;
}

.note textarea {
  height: 100%;
  width: 100%;
  color: black;
  resize: none;
  font-family: cursive;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  font-size: 20px;
}

.note button {
  position: absolute;
  top: 6px;
  left: 42px;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  font-family: cursive;
  font-size: 13px;
  cursor: pointer;
  padding: 5px;
}
